.page-container {
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.minimize {
    background-color: black;
}

.url-input {
    width:360px;
    height: 25px;
}

.add-user-link {
}

.add-user-link-container a {
    background-color: aquamarine;
}

.add-user-link-container a:hover {
    background-color: aqua;
}

.sep {
    height: 5px;
}

.sep2 {
    height: 10px;
}

body {
    font-size: 12px;
}

.user-line {
    font-size: 12px;
    background-color: blue;
    width:350px;
}
.user-line2 {
    font-size: 12px;
    background-color:chocolate;
    width:350px;
}